
.home {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hero {
  width: 100%;
  overflow: hidden;
}
.scaled-image {
  width: 100%;
  object-fit: contain;
}

.section-2 {
  font-weight: 400;
  font-style: normal;
  display: flex;
  flex-direction: column;
  height: 80vh;
  justify-content: center;
  align-items: center;
}

.section-3 {
  display: flex;
  width: 80%;
}

.heading {
  font-size: 50px;
  font-weight: 500;
  margin: 20px 0;
}

.boxes {
  display: flex;
  height: 50%;
  width: 100%;
  justify-content:  space-around;
  align-items: center;
  color: rgb(33,41,54);
}

.left-3 {
  width: 50%;
  height:40vh;
  display:flex;
  align-items: center;
  justify-content: center;
}
.right-3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  height:40vh;
}

.scaled-image-3 {
  width: 70%;
  object-fit: contain;
}

.all-dot-points {
  padding-left: 20px; 
  font-size: 16px;
}

.dot-point {
  margin-bottom: 10px; 
}

.bold {
  font-weight: 600;
}

.heading-3 {
  font-weight: 700;
  width: fit-content;
}