
.box {
  display: flex;
  height: 60%;
  width: 30%;
  align-items: center;
  justify-content: center;
}


.right {
  display: flex;
  flex-direction: column;
  height: 80%;
  width: 55%;
  align-items: center;
}

.logo-box {
  width: fit-content;
}

.content {
  text-align: center;
  font-size: 14px; 
}

.heading-box {
  font-weight: 500;
  font-size: 24px;
}