.nav{
  display: flex;
  z-index: 1000;
  top:0;
  position: fixed;
  width: 100%;
  height: 15%;
  flex-wrap: wrap;
  padding: 10px 0;
  align-items: center;
  justify-content: center;
  background: rgb(33,41,54);
  background: linear-gradient(122deg, rgba(33,41,54,1) 0%, rgba(33,41,54,1) 0%, rgba(33,41,54,0.9203139874113708) 94%);
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05), 0 10px 15px -3px rgba(0, 0, 0, 0.2), 0 4px 6px -2px rgba(0, 0, 0, 0.1);
}

.hide-on-mobile {
  display: flex;
  justify-content: center;
  align-items: center;
}


@media (max-width: 600px) {
  .hide-on-mobile {
      display: none;
  }
  .nav {
    display:flex;
    flex-direction: row;
  }
}
